flask==2.2.5
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.3.2
joblib==1.3.2
python-dotenv==1.0.0
gunicorn==20.1.0
# activate .venv first
.\.venv\Scripts\activate

pip freeze > requirements.txt
# OR create minimal:
echo streamlit>requirements.txt
echo pandas>>requirements.txt
echo numpy>>requirements.txt
echo scikit-learn>>requirements.txt
echo joblib>>requirements.txt
echo matplotlib>>requirements.txt
